.invalid-feedback {
  color: red;
  font-size: smaller;
}

.btn-view-password {
  z-index: 2;
  position: absolute;
  top: 25px;
  right: 27px;
  background: transparent;
  color: #0724f7;

  ion-icon {
    display: inline-block;
    font-size: 1.8em;
  }
}
