.welcome-card ion-img {
  max-height: 35vh;
  overflow: hidden;
}

.code-card{
    .code {
      font-size: 12px;
      font-weight: bold;
      color: #9a8d8d;
    }
}

.fab-list {
  font-size: 14px;
  font-weight: bold;
  display: block;

  ion-label {
    right: 56px;
    margin-top: 20px;
    position: absolute;
  }
}
