<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            SAFE WALLET
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-card class="code-card" *ngIf="user">
        <ion-card-header>
            <ion-card-title>{{user.name}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <div (click)="onCopy()">
                <span class="code">{{user.code}}</span>
                <ion-button float-right size="small">
                    <ion-icon name="share"></ion-icon>
                </ion-button>
            </div>
            <small>utiliza este codigo para hacer transferencias</small>
        </ion-card-content>
    </ion-card>

    <ion-card class="welcome-card">
        <ion-img src="/assets/shapes.svg"></ion-img>
        <ion-card-header>
            <ion-card-subtitle>Get Started</ion-card-subtitle>
            <ion-card-title>Welcome to Ionic</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <p>Now that your app has been created, you'll want to start building out features and components. Check out
                some of the resources below for next steps.</p>
        </ion-card-content>
    </ion-card>


    <ion-fab horizontal="end" vertical="bottom">
        <ion-fab-button size="small">
            <ion-icon name="card"></ion-icon>
        </ion-fab-button>
        <ion-fab-list side="top">
            <div class="fab-list">
                <ion-label>Transfer</ion-label>
                <ion-fab-button (click)="transfer()" color="primary" size="small" (click)="goToTransferPage()">
                    <ion-icon ios="ios-send" md="md-send"></ion-icon>
                </ion-fab-button>
            </div>
            <div class="fab-list">
                <ion-label>Logout</ion-label>
                <ion-fab-button (click)="logout()" color="primary" size="small">
                    <ion-icon ios="ios-exit" md="md-exit"></ion-icon>
                </ion-fab-button>
            </div>
        </ion-fab-list>

    </ion-fab>
</ion-content>

<ion-footer>
    <ion-toolbar>
        <ion-row>
            <ion-col text-right> Balance: {{balance?.balance | currency }}</ion-col>
        </ion-row>
    </ion-toolbar>
</ion-footer>